<div class="footer">
    <h3 class="footerTitle">TechsGiving is hosted by:</h3>
    <div class="hosts">
        <a href="https://www.txstate.edu/">
            <img src="/assets/bobcat.png" alt="Texas State" class="imageLink">
        </a>
        <a href="https://txstateacm.wixsite.com/join">
            <img src="/assets/ACM.jpeg" alt="Texas State ACM" class="imageLink">
        </a>
        <a href="https://jerseyctf.com/#">
            <img src="/assets/white_hollow_acm.png" alt="NJIT" class="imageLink">
        </a>
    </div>
</div>